URxvt.url-select.launcher:/usr/bin/firefox -new-tab
URxvt.url-select.underline:true
URxvt.iso14755:	false
URxvt.scrollBar:	false
URxvt.perl-ext:	default,url-select
URxvt.geometry:	85x25
URxvt.font:	xft:terminus:size=10
URxvt.perl-ext-common:	default,matcher,searchable-scrollback
URxvt*scrollWithBuffer:	true
URxvt.letterSpace:	0
URxvt.background:	[75]#000000
URxvt.depth:32	
URxvt.foreground:	#71de76
URxvt.url-launcher:	/usr/bin/firefox
urxvt*matcher.button:	1
urxvt*cursorBlink:	1
urxvt.cutchars:	"`()'*<>[]{|}"
Urxvt*saveLines:	65535
Urxvt*urgentOnBell:	false
Urxvt*borderLess:	false
Urxvt*perl-lib:	/usr/lib/urxvt/perl/
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
xrenoise.use_xcursors:	1
xrenoise.display:	:0
xrenoise.display_resource:	0x00,0x11,0x36,0x7F,0x6A,0x0E,0x70,0xD4
xrenoise.executable_path:	/usr/bin/renoise
*color12:	#6389b1
*color2:	#71de76
*color5:	#AB716D
*color13:	#BE918E
*color14:	#CBE6CB
*color6:	#98B9B1
*color7:	#D0D0D0
*color15:	#EFEFEF
*color3:	#e2cb83
*color4:	#356faa
*color10:	#7dfb70
*color11:	#f6d77a
*color8:	#4A4845
*color0:	#2F2E2D
*color1:	#ef5a5a
*color9:	#ca4747
